<div class="popup__window">
	<span class="b-popup__close">x</span>
	<div class="b-popup__date"></div>
	<div class="b-popup__title">
		<input type="text" placeholder="Заголовок" name="title" />
	</div>
	<div class="b-popup__description">
		<textarea name="description" placeholder="Описание"></textarea>
	</div>
	<p class="b-popup__warning-wrapper">
		<span class="b-popup__warning">Для сохранения заполните все поля</span>
	</p>
	<input type="submit" value="Сохранить" class="b-popup__btn b-popup__btn_save"/>
	<span class="b-popup__btn b-popup__btn_delete">Удалить</span>
</div>